@model WebApplication1.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.MediaURL)*@
            @if (Model.MediaURL != null)
            {

                <img class="img-responsive" src="@Model.MediaURL" alt="">
            }

        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>
        <div>
            <dt>Comments:</dt>
            @foreach (var comment in Model.Comments)
            {
                <dd>
                    @comment.Body 
                    <br/>- by @comment.Author.DisplayName 
                    <br/>- @comment.Created.ToString("dd/MM/yyyy HH:mm")
                </dd>
                if (User.Identity.IsAuthenticated &&
                    (User.IsInRole("Admin") || User.IsInRole("Moderator")))
                {
                    <dd>
                    <a href="@Url.Action("Edit", "Comments", new { id = comment.Id } )">Edit Comment</a>
                    <a href="@Url.Action("Delete", "Comments", new { id = comment.Id })">Delete Comment</a>
                    </dd>
                    <hr/>
                }
            }
        </div>

    </dl>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <dt>Leave a comment!</dt>
    </div>
    <div>
        @using (Html.BeginForm("Details", "BlogPosts", FormMethod.Post))
        {
            <input type="hidden" name="slug" value="@Model.Slug" />
            <textarea name="Body"></textarea>
            if (ViewBag.ErrorMessage != null)
            {
                <span>@ViewBag.ErrorMessage</span>
            }
            <br />
            <input type="submit" value="Submit" />
            <hr />
        }
    </div>
}
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>